<html>
<head>
<title>FISH - Schedules</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style type="text/css">
		div.BigText {
			font-size: 1.5em;
			font-weight: bold; 
		}
		li {
			font-size: 1.5em; 
		}
		p {
			font-size: 1.5em; 
		}

		body {
		    background: #555;
		}

		.content {
		    max-width: 80%;
		    margin: auto;
		    background: white;
		    padding: 10px;
		}
		@media only screen and (max-width: 600px) {
		    body {
		        max-width: 500px;
		         margin: auto;
		    background: white;
		    padding: 10px;
		    }
		}
		.btn-group .button {
		    background-color: black; /* Green */
		    border: 1px solid black;
		    color: white;
		    padding: 15px 32px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 16px;
		    cursor: pointer;
		    float: left;
		}
		.btn-group .button:not(:last-child) {
		    border-right: none; /* Prevent double borders */
		}
		.btn-group .button:hover {
		    background-color: grey;
		}
	</style>
</head> 
<body>  
<div class="content">
	<div class="btn-group">
	  <button class="button" onclick="location.href='/';">Home</button>	  
		  <button class="button" onclick="location.href='Schedules.html';">Set Schedules</button>  
		  <button class="button" onclick="location.href='/camsPass';">FISHCam</button>	    
		  <button class="button" onclick="location.href='Plots.html';">Plots</button>   
		  <button class="button" onclick="location.href='http://192.168.1.55';">Home WIKI</button> 
	</div>

	<br><br>
	<h2 style="clear:both"><br>Schedules</h2>
	<h2>Set Schedule</h2>
	<form method="post" action="/setSchedule">
		Select which day of the week you would like to edit: 
		<select name="weekDay">
			<option value="0">Sunday</option>
			<option value="1">Monday</option>
			<option value="2">Tuesday</option>
			<option value="3">Wednesday</option>
			<option value="4">Thursday</option>
			<option value="5">Friday</option>
			<option value="6">Saturday</option>
		</select>
		<p>Select Fish or Frogs</p>
		<input type="radio" name="ScheduleType" value="FISH"> FISH
		<input type="radio" name="ScheduleType" value="FROG"> FROGS <br><br>
		Turn On Time (24 Hour): 
		<input type="time" name="TurnOnTime" >
		<br>
		Turn Off Time (24 Hour): 
		<input type="time" name="TurnOffTime">
		<br><br>
  		<input type="submit" value="Submit">
  	</form>

  	<h2>View Schedules</h2>
  	<form method="post" action="/viewSchedule">
		<p>Select which day of the week you would like to view</p>
		<select name="weekDay">
			<option value="0">Sunday</option>
			<option value="1">Monday</option>
			<option value="2">Tuesday</option>
			<option value="3">Wednesday</option>
			<option value="4">Thursday</option>
			<option value="5">Friday</option>
			<option value="6">Saturday</option>
		</select>
		<p>Select Fish or Frogs</p>
		<input type="radio" name="ScheduleType" value="FISH"> FISH
		<input type="radio" name="ScheduleType" value="FROG"> FROGS <br>
  		<input type="submit" value="Submit">
  	</form>
  	<div id="ScheduleResult">
	  	<h3>Schedule For: <%=viewDay%></h3>
	  	<p>For Tank: <%=ScheduleType%></p>
	  	<p>Turn On Time: <%=viewTurnOn%></p>
	  	<p>Turn Off Time: <%=viewTurnOff%></p>
  	</div>
  	<script type="text/javascript">
  		var ShowResult = "<%= ShowSchedule %>";

		var x = document.getElementById("ScheduleResult");
		if(ShowResult==1){
			x.style.display = "block"; // show result 

		}else{
			x.style.display = "none";// block result 
		
		}
 
  	</script>
</div>
	


</body>
</html>