<html>
<head>
<title>LOOK AT FISH</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style type="text/css">
		div.BigText {
			font-size: 1.5em;
			font-weight: bold; 
		}
		li {
			font-size: 1.5em; 
		}
		p {
			font-size: 1.5em; 
		}

		body {
		    background: #555;
		}

		.content {
		    max-width: 80%;
		    margin: auto;
		    background: white;
		    padding: 10px;
		}
		@media only screen and (max-width: 600px) {
		    body {
		        max-width: 500px;
		         margin: auto;
		    background: white;
		    padding: 10px;
		    }
		}
		.btn-group .button {
		    background-color: black; /* Green */
		    border: 1px solid black;
		    color: white;
		    padding: 15px 32px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 16px;
		    cursor: pointer;
		    float: left;
		}
		.btn-group .button:not(:last-child) {
		    border-right: none; /* Prevent double borders */
		}
		.btn-group .button:hover {
		    background-color: grey;
		}
	</style>
</head> 
<body>  
<div class="content">
	<div class="btn-group">
	 <button class="button" onclick="location.href='/';">Home</button>	  
		  <button class="button" onclick="location.href='Schedules.html';">Set Schedules</button>
	  
		  <button class="button" onclick="location.href='/camsPass';">FISHCam</button>	   
		  <button class="button" onclick="location.href='Plots.html';">Plots</button>   
		  <button class="button" onclick="location.href='http://192.168.1.55';">Home WIKI</button> 
	</div>

	<br><br>	

	<h2 style="clear:both"><br>FISH</h2>
	<p><%= PasswordWRONG %></p>
	<form method="post" action="/cams">
		<input type="password" name="psk">
  		<input type="submit" value="Submit">
  	</form>

	
</div>
	


</body>
</html>