<html>
<head>
	<meta http-equiv="refresh" content="10" >
	<title>FISH - Home</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style type="text/css">
		div.BigText {
			font-size: 1.5em;
			font-weight: bold; 
		}
		li {
			font-size: 1.5em; 
		}
		p {
			font-size: 1.5em; 
		}

		body {
		    background: #555;
		}

		.content {
		    max-width: 80%;
		    margin: auto;
		    background: white;
		    padding: 10px;
		}
		@media only screen and (max-width: 600px) {
		    body {
		        max-width: 500px;
		         margin: auto;
		    background: white;
		    padding: 10px;
		    }
		}
		.btn-group .button {
		    background-color: black; /* Green */
		    border: 1px solid black;
		    color: white;
		    padding: 15px 32px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 16px;
		    cursor: pointer;
		    float: left;
		}
		.btn-group .button:not(:last-child) {
		    border-right: none; /* Prevent double borders */
		}
		.btn-group .button:hover {
		    background-color: grey;
		}
		.border{
			border-style:  solid;
		}
	</style>

</head>

<body>  
	<div class="content">
		<div class="btn-group">
		  <button class="button" onclick="location.href='/';">Home</button>	  
		  <button class="button" onclick="location.href='Schedules.html';">Set Schedules</button>	  
		  <button class="button" onclick="location.href='/camsPass';">FISHCam</button>	  
		  <button class="button" onclick="location.href='Plots.html';">Plots</button>  
		  <button class="button" onclick="location.href='http://192.168.1.55';">Home WIKI</button> 
		</div>
	</div>	

	<div  class="content">
		<br><br>
		<h1>FISH and FROGS STATUS</h1>

		
		<div class="border" id="LightStatusDiv">
			<h2>Fish Light Status</h2>
			<ul>
				<li>Fish Light is <%= FishLightStatus %></li>	
				<li>Fish Light Change Time: <%=FishLightChangeTime%> </li>
				<li>Fish Light Change Event: <%= FishLightChangeEvent %></li>
			</ul>
			<div id = "SchedulerRunning">
				<ul>
					<li>Scheduler is Running</li>
				</ul>
				<p>
					<button style="height: 75px;" class="w3-button w3-block w3-black" onclick="ChangeLigthStatus()">Turn <%= NotLightStatus %> Fish Light and Pause Scheduler</button>
				</p>
			</div>
			<div class="w3-bar" id="SchedulerPaused">
				<button style="height: 75px;" class="w3-button w3-block w3-black" style="width:50%" onclick="ChangeLigthStatus()">Turn <%= NotLightStatus %> Fish Light and Leave Scheduler Paused</button>
				<button style="height: 75px;" class="w3-button w3-block w3-black" style="width:50%" onclick="ResumeScheduler()">Resume Fish Light Scheduler</button>
			</div>

		</div>

		<div class="border" id="FrogLightStatusDiv">
			<h2>Frog Light Status</h2>
			<ul>
				<li>Frog Light is <%= FrogLightStatus %></li>	
				<li>Frog Light Change Time: <%=FrogLightChangeTime%> </li>
				<li>Frog Light Change Event: <%= FrogLightChangeEvent %></li>
			</ul>
			<div id = "SchedulerRunningFrog">
				<ul>
					<li>Scheduler is Running</li>
				</ul>
				<p>
					<button style="height: 75px;" class="w3-button w3-block w3-black" onclick="ChangeLigthStatusFrog()">Turn <%= NotLightStatus %> Frog Light and Pause Scheduler</button>
				</p>
			</div>
			<div class="w3-bar" id="SchedulerPausedFrog">
				<button style="height: 75px;" class="w3-button w3-block w3-black" style="width:50%" onclick="ChangeLigthStatusFrog()">Turn <%= NotLightStatus %> Frog Light and Leave Scheduler Paused</button>
				<button style="height: 75px;" class="w3-button w3-block w3-black" style="width:50%" onclick="ResumeSchedulerFrog()">Resume Frog Light Scheduler</button>
			</div>

		</div>
		

		<div class="border">
			<h2>Temps</h2>
			<p>Temps are updated in the last 10 minutes</p>
			<ul>
				<li>Frog Temperature: <%= frogTemp %> <sup>o</sup>C</li>
				<li>Fish Temperature: <%= fishTemp %><sup>o</sup>C</li>
			</ul>
		</div>	
		
		<div class="border">	
			<h2>Feeder Status</h2>
			<ul>
				
				<li>Fish last Fed at Time: <%= FishFeederChangeTime %> </li>
				<ul><li>By: <%= FishFeederChangeEvent %></li></ul>
				<li>Frog last fed at Time: <%= FrogFeederChangeTime %> </li>
				<ul><li>By: <%= FrogFeederChangeEvent %></li></ul>				
			</ul>
			<a href="logs/FishFeeder.txt">Fish Feeding Logs </a><a href="logs/FrogFeeder.txt">Frog Feeding Logs</a>	
		</div>	
		<div class="border">
			<h2>Feed Fish or Frogs</h2>
			<p>
				<button style="height: 75px;" class="w3-button w3-block w3-black" onclick="FeedFISH()">Feed FISH</button>
			</p>
			<p>
				<button style="height: 75px;" class="w3-button w3-block w3-black" onclick="FeedFROGS()">Feed FROGS</button>
			</p>	
		</div>
			

	</div>
	<script type="text/javascript">
		// this shitty js runs the index 

		// common stuff 
		var xhttp = new XMLHttpRequest(); // to do the htto reqs

		//  FISH 

		var locLightStatus = "<%= FishLightStatus %>"; 
		var SchedulerStatus = "<%= SchedulerStatus %>";
		 
		if(locLightStatus =="ON"){
			document.getElementById("LightStatusDiv").style.backgroundColor = "lightgreen";
		}else{
			document.getElementById("LightStatusDiv").style.backgroundColor = "lightpink";
		}

			
		function ChangeLigthStatus(){
			console.log("Called Change Light Status");
			if(locLightStatus =="ON"){
				xhttp.open("POST", "/turnOffLight", true);
			}else{
				xhttp.open("POST", "/turnOnLight", true);
			}
			xhttp.setRequestHeader('Content-Type','application/json;charset=UTF-8');
			xhttp.send(JSON.stringify());
			location.reload();
		}

		function ResumeScheduler(){
			console.log("Resumeing Scheduler");
			xhttp.open("POST", "/ResumeScheduler", true);
			xhttp.setRequestHeader('Content-Type','application/json;charset=UTF-8');
			xhttp.send(JSON.stringify());
			location.reload();
		}
		console.log("FISH Scheduler Status: "+SchedulerStatus);
		// handle which button is shown
		var x = document.getElementById("SchedulerRunning");
		console.log("Fish scheduler status: "+SchedulerStatus);
		if(SchedulerStatus==1){
			x.style.display = "block"; // show result 

		}else{
			x.style.display = "none";// block result 

		}
		var y = document.getElementById("SchedulerPaused");
		if(SchedulerStatus==0){
			y.style.display = "block"; // show result 

		}else{
			y.style.display = "none";// block result 

		}


		/////////////////////////////////////////////////////////////////
		// repeat the above for frogs 


		var locLightStatusFrog = "<%= FrogLightStatus %>"; 
		var SchedulerStatusFrog = "<%= SchedulerStatusFrog %>";
		 
		if(locLightStatusFrog =="ON"){
			document.getElementById("FrogLightStatusDiv").style.backgroundColor = "lightgreen";
		}else{
			document.getElementById("FrogLightStatusDiv").style.backgroundColor = "lightpink";
		}

			
		function ChangeLigthStatusFrog(){
			console.log("Called Change Light Status");
			if(locLightStatusFrog =="ON"){
				xhttp.open("POST", "/turnOffLightFrog", true);
			}else{
				xhttp.open("POST", "/turnOnLightFrog", true);
			}
			xhttp.setRequestHeader('Content-Type','application/json;charset=UTF-8');
			xhttp.send(JSON.stringify());
			location.reload();
		}

		function ResumeSchedulerFrog(){
			console.log("Resumeing Scheduler");
			xhttp.open("POST", "/ResumeSchedulerFrog", true);
			xhttp.setRequestHeader('Content-Type','application/json;charset=UTF-8');
			xhttp.send(JSON.stringify());
			location.reload();
		}
		console.log("Frog Scheduler Status: "+SchedulerStatusFrog);
		// handle which button is shown
		var xFrog = document.getElementById("SchedulerRunningFrog");
		console.log("Frog Schedluler Status: ", SchedulerStatusFrog);
		if(SchedulerStatusFrog==1){
			xFrog.style.display = "block"; // show result 

		}else{
			xFrog.style.display = "none";// block result // common stuff 
		var xhttp = new XMLHttpRequest(); // to do the htto reqs

		//  FISH 

		var locLightStatus = "<%= FishLightStatus %>"; 
		var SchedulerStatus = "<%= SchedulerStatus %>";
		 
		if(locLightStatus =="ON"){
			document.getElementById("LightStatusDiv").style.backgroundColor = "lightgreen";
		}else{
			document.getElementById("LightStatusDiv").style.backgroundColor = "lightpink";
		}

			
		function ChangeLigthStatus(){
			console.log("Called Change Light Status");
			if(locLightStatus =="ON"){
				xhttp.open("POST", "/turnOffLight", true);
			}else{
				xhttp.open("POST", "/turnOnLight", true);
			}
			xhttp.setRequestHeader('Content-Type','application/json;charset=UTF-8');
			xhttp.send(JSON.stringify());
			location.reload();
		}

		function ResumeScheduler(){
			console.log("Resumeing Scheduler");
			xhttp.open("POST", "/ResumeScheduler", true);
			xhttp.setRequestHeader('Content-Type','application/json;charset=UTF-8');
			xhttp.send(JSON.stringify());
			location.reload();
		}
		console.log("FISH Scheduler Status: "+SchedulerStatus);
		// handle which button is shown
		var x = document.getElementById("SchedulerRunning");
		console.log("Fish scheduler status: "+SchedulerStatus);
		if(SchedulerStatus==1){
			x.style.display = "block"; // show result 

		}else{
			x.style.display = "none";// block result 

		}
		var y = document.getElementById("SchedulerPaused");
		if(SchedulerStatus==0){
			y.style.display = "block"; // show result 

		}else{
			y.style.display = "none";// block result 

		}


		/////////////////////////////////////////////////////////////////
		// repeat the above for frogs 


		var locLightStatusFrog = "<%= FrogLightStatus %>"; 
		var SchedulerStatusFrog = "<%= SchedulerStatusFrog %>";
		 
		if(locLightStatusFrog =="ON"){
			document.getElementById("FrogLightStatusDiv").style.backgroundColor = "lightgreen";
		}else{
			document.getElementById("FrogLightStatusDiv").style.backgroundColor = "lightpink";
		}

			
		function ChangeLigthStatusFrog(){
			console.log("Called Change Light Status");
			if(locLightStatusFrog =="ON"){
				xhttp.open("POST", "/turnOffLightFrog", true);
			}else{
				xhttp.open("POST", "/turnOnLightFrog", true);
			}
			xhttp.setRequestHeader('Content-Type','application/json;charset=UTF-8');
			xhttp.send(JSON.stringify());
			location.reload();
		}

		function ResumeSchedulerFrog(){
			console.log("Resumeing Scheduler");
			xhttp.open("POST", "/ResumeSchedulerFrog", true);
			xhttp.setRequestHeader('Content-Type','application/json;charset=UTF-8');
			xhttp.send(JSON.stringify());
			location.reload();
		}
		console.log("Frog Scheduler Status: "+SchedulerStatusFrog);
		// handle which button is shown
		var xFrog = document.getElementById("SchedulerRunningFrog");
		console.log("Frog Schedluler Status: ", SchedulerStatusFrog);
		if(SchedulerStatusFrog==1){
			xFrog.style.display = "block"; // show result 

		}else{
			xFrog.style.display = "none";// block result 

		}

		var yFrog = document.getElementById("SchedulerPausedFrog");
		if(SchedulerStatusFrog==0){
			yFrog.style.display = "block"; // show result 

		}else{
			yFrog.style.display = "none";// block result 

		}

		}

		var yFrog = document.getElementById("SchedulerPausedFrog");
		if(SchedulerStatusFrog==0){
			yFrog.style.display = "block"; // show result 

		}else{
			yFrog.style.display = "none";// block result 

		}

		// functions to feed fish 
		function FeedFISH(){
			// feed fish function 
			var FishFeedName = prompt("Are you sure you want to feed The Fish? \n Enter name and OK to continue.","YourName");
			if(FishFeedName != null){
				xhttp.open("POST", "/feedFish", true);
				xhttp.setRequestHeader('Content-Type','application/json;charset=UTF-8');
				xhttp.send(JSON.stringify({FishFeedName:FishFeedName, response: {name: "FishFeedName" } }));
				location.reload(); 
			}else{
				alert("Will Not feed Fish ");
				location.reload(); 
			}

		}

		function FeedFROGS(){
			// feed frogs function
			var FrogFeedName = prompt("Are you sure you want to feed The Frogs? \n Enter name and OK to continue.","YourName");
			if(FrogFeedName != null){
				xhttp.open("POST", "/feedFrogs", true);
				xhttp.setRequestHeader('Content-Type','application/json;charset=UTF-8');
				xhttp.send(JSON.stringify({FrogFeedName:FrogFeedName, response: {name: "FrogFeedName" } }));
				location.reload(); 
			}else{
				alert("Will Not feed Fish ");
				location.reload(); 
			}
		}



	</script>
		
</body>
</html>
