td {
	text-align: center;
}

h1{
	margin-left: 30px; 
}
}

h2 {
	margin-left: 40px; 
}

h3{
	margin-left: 50px;
	text-decoration: underline;
}
p{
	margin-left: 60px; 
}
table{
	margin-left: 60px; 
}
ul{
	margin-left: 60px;
}